#calculator{
    border: 1px solid black;
    border-radius: 5px;
    width:300px;
    height: 600px;
    
}

#display{
    margin: 10px;
    width:92%;
    font-size: 30px;
}

#button-contanier{
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
}

.button{
    width: 70px;
    height: 70px;
    margin: 5px;
}